@charset "utf-8";

// If need, change your variables before importing Bulma
$title-color: #fff;

@import "~bulma/bulma.sass";

::-moz-selection {
  /* Code for Firefox */
  color: #f20304;
  background: $grey-light;
}

::selection {
  color: #f20304;
  background: $grey-dark;
}

.navbar-item:hover {
  color: $black;
}
.navbar-item,
.navbar-link {
  color: $white-bis;
}
.dropdowns-a {
  color: $black;
}
.navbar-link:hover {
  color: $black;
}
@media screen and (max-width: 768px) {
  .navbar {
    position: relative;
    height: 5rem;
  }
  .navbar-brand {
    display: inline;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.is-active + .navbar-item {
  color: #fff;
}
@media screen and (max-width: 1024px) {
  a.navbar-item.dropdowns-a {
    color: $white-ter;
  }
}
@media screen and (max-width: 560px) {
  .fb-container {
    display: flex;
    flex-flow: column nowrap;
  }
  .facebook {
    width: 100%;
  }
}
.footer {
  background-color: $light;
}
.social-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fb-circle {
  color: #3578e5;
  background: $white-ter;
  border-radius: 50%;
}
.fb-circle:hover {
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  background: linear-gradient(
    rgb(255, 143, 178) 0%,
    rgb(167, 151, 255) 50%,
    rgb(0, 229, 255) 100%
  );
}
.instagram {
  color: $white-ter;
  border-radius: 15px;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #285aeb 0%,
    #d6249f 5%,
    #fd5949 45%,
    #fdf497 60%,
    #fdf497 90%
  );
}
.fb-circle,
.instagram {
  margin: 1rem 1rem 0;
}
.copyright-container {
  position: relative;
  height: 5rem;
}
.copyright {
  position: absolute;
  bottom: 0;
}
.wrap {
  color: #ef1a25;
}
.panel-heading {
  padding: 0;
}
.faq_list .panel-body {
  padding: 40px 15px;
}
.faq_list .panel-heading div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9375rem;
  font-weight: bold;
  line-height: 1.875rem; /*30px*/
  padding: 10px 15px;
  width: 100%;
}
.content .event-address {
  list-style: none;
}
.success-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.5;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .success-video {
    background: url("../images/ridedowneast.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
#sadface-link {
  cursor: url("../images/sad.png"), pointer;
}
