@charset "utf-8";

// If need, change your variables before importing Bulma
$title-color: #fff;

@import "~bulma/bulma.sass";

.navbar-item:hover {
  color: $black;
}
.navbar-item,
.navbar-link {
  color: $white-bis;
}
.about-dropdown {
  color: $black;
}
.navbar-link:hover {
  color: $black;
}
@media screen and (max-width: 768px) {
  .navbar {
    position: relative;
    height: 5rem;
  }
  .navbar-brand {
    display: inline;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.is-active + .navbar-item {
  color: #fff;
}
// * Don't show youtube video on mobile
@media screen and (max-width: 411px) {
  .youtube {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  a.navbar-item.about-dropdown {
    color: $white-ter;
  }
}
.facebook {
  width: 500px;
  height: 600px;
}
@media screen and (max-width: 560px) {
  .fb-container {
    display: flex;
    flex-flow: column nowrap;
  }
  .facebook {
    flex-shrink: 1;
    width: 100%;
  }
}
