body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.youtube {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.home-container {
  margin: 5rem 1rem 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: inherit;
  text-align: center;
}
.home-container h2 {
  font-size: 1.4rem;
}
.home-container p {
  width: 65%;
}